doctype html
html
  head
    title= pageTitle
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    link(rel="stylesheet" href="styles.css")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
    script(type="text/javascript", src="main.js")
  body
    div.container
      div.row.clearfix
        div.col-md-12.column
          div.page-header
            h1= pageTitle
      div.row.clearfix
        div.col-md-2.column
          div#map-panel-items.panel-group
            - for (var x = 1; x < 3; x++)
              div.panel.panel-default
                div.panel-heading
                  a.panel-title.collapsed(data-toggle="collapse", data-parent="#map-panel-items" href="#panel-element-" + x)
                    = "Collapsible Group Item #" + x
                div.panel-collapse.collapse(id="panel-element-" + x)
                  div.panel-body
                    = "Anim pariatur cliche..."
        div.col-md-10.column
          div#map-panel.panel.panel-default
            div.panel-heading
              h3.panel-title
                = "Google Maps API - " + pageTitle
            div.panel-body
              div#map-canvas
              div.panel-footer
                != "Derek Chafin &copy; 2014"
    script(src="//cdn.jsdelivr.net/jquery/1.11.0/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src!="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
    script(src="main.js")
