doctype html
html
  head
    title= pageTitle
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    link(rel="stylesheet" href="styles.css")
    script(type="text/javascript", src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
    script(type="text/javascript", src="main.js")
  body
    div#map-canvas